# Serverspezifische Konfiurationsdaten sollten hier drin Platz finden
# Die Datei ist als Spring.Properties.Config abzulegen und auf SVN Ignore zu stellen (NICHT EINCHECKEN!) damit jedr Entwickler seine
# eigene Konfiguration haben kann. Neue Properties sind im Template zu ergänzen und gegebenenfalls zu beschreiben.

dbConnectionString=Data Source=localhost\SQLEXPRESS;Initial Catalog=dev_db;User ID = user;Password=pwd
dbProvider=SqlServer-2.0

# Einstellungen für den Mailversand
emailSenderAddress=
emailSenderName=
smtpHostAddress=
smtpPort=
smtpServerLogin=
smtpServerPassword=
smtpSslEnabled=false
smtpIgnoreInvalidSslCertificate=

resourceRelativePath=/bin/Resources/MailTemplates/

frontendUrlForPasswortReset=https://somepath/

uploadedFileBasePath = C:\Temp\queo-boards\upload
documentBasePath = C:\Temp\queo-boards.documents.base

# Erlaubte Dateierweiterungen für Upload
# wird ein * eingetragen, kann alles ohne Beschränkungen hochgeladen werden
# Einschränkungen durch eine Komma spearierte Liste eingeben z.B.: gif,jpg,jpeg,png,pdf
allowedUploadFileExtensions = gif,jpg,jpeg,png,pdf,doc,docx,xls,xlsx,ppt,pptx

# Konfiguration für Thumbnailer
ghostScriptPath=C:\develop\csharp\immotwist-maklerportal\Immotwist.Maklerportal.Web\GhostScript
mediaPath=C:/Temp/Immotwist.Documents


# Active Directory-Konfiguration
# Name der Gruppe, zur Identifikation von "Administratoren" in queo-boards
activeDirectoryGroupNameForAdministrators=
# Name der Gruppe, zur Identifikation von "Nutzern" in queo-boards
activeDirectoryGroupNameForUsers=

# Active Directory Verbindungs Konfiguration
# Name des Servers auf dem die Domain liegt, auf deren Active Directory zugegriffen wird
activeDirectoryAccessServerName =
#Name der Domain, auf deren Active Directory zugegriffen wird
activeDirectoryAccessDomainName =
# Einschränkender Container beim Zugriff auf das AD
activeDirectoryAccessContainerName =
# Name des Nutzers, über dessen Account auf das AD zugegriffen wird

activeDirectoryAccessUserName =
# Passwort des Nutzers, über dessen Account auf das AD zugegriffen wird
activeDirectoryAccessPassword =

# Konfiguration des Intervals für den Cron-Job zum Aktualisieren der Nutzer mit dem Active Directory.
# Bsp: Jeden Freitag 22 Uhr => "0 0 22 ? * FRI"; Jede Minute => "0 0/1 * * * ?"
# weitere Beispiele: http://www.quartz-scheduler.org/documentation/quartz-2.x/tutorials/crontrigger.html
activeDirectorySynchronizationTriggerCronString= 0 0 22 ? 8 FRI

# Konfiguration des Intervals für den Cron-Job zum Überprüfen, ob das Fälligkeitsdatum einer Karte abgelaufen ist.
cardDueExpirationNotificationTriggerCronString=0 0/10 * * * ?

# Konfiguration des Intervals für den Cron-Job zum Senden von E-Mails über offene Benachrichtigungen
sendEmailForUnreadNotificationsTriggerCronString=0 0/1 * * * ?

# Ruft die Url der Startseite für das Frontend ab. Die Angabe muss mit "http(s)://" und ohne "/" am Ende der URL erfolgen.
frontendBaseUrl=https://www.queo-boards.de

# Konfiguration von Systembeschränkungen. Ein 0 als Konfigurationswert bedeutet unbeschränkt.
maxUser = 3

# Zeit die ein Nutzer hat um sein Passwort zurück zu setzen in Stunden
passwordResetHours = 0.5